AVITO_CLIENT_ID=
AVITO_CLIENT_SECRET=
AVITO_USER_ID=
AVITO_BASE_URL=https://api.avito.ru
USE_WEBHOOK=false
POLL_INTERVAL_SECONDS=15
YANDEX_FORM_URL=
INVITATIONS_SHEET_ID=1D6aP4Vjt05QMRIogvdtX0wKblbgnNrg-I8lF0Fq26zs
INVITATIONS_SHEET_GID=420777109
